src/main/resources/META-INF/salix.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.salix.org/schema/salix"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tool="http://www.springframework.org/schema/tool"
	targetNamespace="http://www.salix.org/schema/salix">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:element name="application">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="port" type="xsd:int"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="zookeeper">
		<xsd:complexType>
			<xsd:attribute name="address" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="stub">
		<xsd:complexType>
			<!-- rpc service name -->
			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
